@charset "utf-8";

/* colors */
$main-color: #F3EEEA;
$sub-color: #EBE3D5;
$btn-color: #B0A695;
$accent-color: #776B5D;

.portfolio-title {
  margin-bottom: 20px;
  h1 {
    font-size: 6.25rem;
  }
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  .portfolio-item {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,.1);
    .pf-title {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $sub-color;
      font-weight: bold;
      span {
        margin-right: 5px;
      }
    }
    .btns {
      display: flex;
      justify-content: space-between;
      gap: 3px;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      .link-btn {
        flex: 1;
        box-sizing: border-box;
      }
      .preview {
        flex: 1;
        display: block;
        padding: .4375rem;
        font-size: .875rem;
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: .625rem;
        background-color: $btn-color;
        box-sizing: border-box;
        transition: all .5s;
        &:hover {
          background-color: #776B5D;
          color: #fff;
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  animation: fade 1s ease-in-out;
  .moniter {
    position: relative;
    width: 50%;
    height: 21.875rem;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    .gif {
      position: absolute;
      top: 3%; left: 2%;
      z-index: -5;
      width: 98%;
      height: 16.0625rem;
      border-radius: .125rem;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 20px;
      }
    }
  }
  .work-contents {
    position: relative;
    width: 50%;
    height: 21.875rem;
    border-radius: 1.25rem;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.3);
    &::before, &::after {
      content: "";
      position: absolute;
      background-color: rgba($color: $btn-color, $alpha: 0.7);
    }
    &::before {
      border-radius: 50%;
      width: 6.25rem;
      height: 6.25rem;
      top: 30%;
      right: 7%;
    }
    &::after {
      height: 1.25rem;
      top: 23px;
      left: 20px;
      border: .3125rem solid rgba($color: $accent-color, $alpha: 1.0);
    }
    .glass-box {
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.074);
      border: 1px solid rgba(255, 255, 255, 0.222);
      border-radius: 1.25rem;
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      box-sizing: border-box;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0px 0px 20px 1px #ffbb763f;
        background-color: rgba(255,255,255,.3);
        border: 1px solid rgba(255, 255, 255, 0.454);
      }
      h4 {
        margin-left: 1.5625rem;
        margin-bottom: 1.25rem;
        font-size: 1.875rem;
      }
      .work-text {
        margin-bottom: 1.25rem;
        padding: 0 1.25rem;
        p {
          margin-bottom: .625rem;
          font-size: 1.125rem;
          font-weight: bold;
          svg {
            margin-right: .625rem;
            font-size: 1.25rem;
            color: $accent-color;
          }
        }
        span {
          display: block;
          padding-left: .625rem;
          font-size: .875rem;
          line-height: 1.5;
          white-space: pre-line;
          color: $accent-color;
        }
      }
      .goto-btn {
        position: absolute;
        bottom: 25px; right: 20px;
        ul {
          display: flex;
          justify-content: right;
          align-items: center;
          li {
            &:first-child {
              margin-right: 10px;
            }
            a {
              position: relative;
              &:hover {
                .tooltip {
                  visibility: visible;
                }
              }
              .tooltip {
                position: absolute;
                z-index: 1;
                top: -105%;
                left: 50%;
                padding: 5px 10px;
                font-size: .75rem;
                font-weight: normal;
                visibility: hidden;
                text-align: center;
                border-radius: 6px;
                color: $accent-color;
                transform: translateX(-50%);
                background-color: rgba($color: $sub-color, $alpha: 0.5);
              }
            }
          }
        }
      }
    }
  }
}


/* tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .portfolio-title {
    margin-bottom: 20px;
    h1 {
      font-size: 60px;
    }
  }
  .portfolio-grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    .portfolio-item {
      
      .btns {
        flex-wrap: wrap;
        text-align: center;
        .preview {
          flex: 0 0 100%;
          padding: 10px;
        }
      }
    }
  }
  .work {
    flex-direction: column-reverse;
    .moniter {
      width: 100%;
      height: auto;
      .gif {
        height: 74%;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .work-contents {
      width: 100%;
      height: 350px;
      .glass-box {
        .work-text {
          p {
            font-size: 16px;
          }
          span {
            font-size: 14px;
          }         
        }
      }
    }
  }
}

/* mobile */
@media (max-width: 599px) {
  .portfolio-title {
    margin-bottom: 20px;
    h1 {
      font-size: 40px;
    }
  }
  .portfolio-grid {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    .portfolio-item {
      .pf-title {
        line-height: 1.5;
        span {
          display: block;
          margin-left: 18px;
          margin-right: 0;
        }
      }
      .btns {
        flex-wrap: wrap;
        text-align: center;
        .preview {
          flex: 0 0 100%;
          padding: 10px;
        }
      }
    }
  }
  .work {
    flex-direction: column-reverse;
    .moniter {
      width: 100%;
      height: auto;
      .gif {
        height: 74%;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .work-contents {
      width: 100%;
      height: auto;
      .glass-box {
        h4 {
          margin-left: 12px;
          font-size: 18px;
        }
      }
      &::after {
        height: 10px;
      }
    }
  }
}